{% extends 'content/layaout.html' %}
{% block body %}

<div class="container">
{%  if request.user.is_authenticated %}
	<p><a href="/logout">logout</a></p>
	{% if contacts|length > 0 %}
	    {% for contact in contacts %}
	    	<p>{{ contact.firstname }}</p>
	    	<p>{{ contact.lastname }}</p>
	      	<p>{{ contact.email }}</p>
	      	<p>{{ contact.text }}</p>
	      	<p>{{ contact.treaty }}</p>
	    {% endfor %}
    {% else %}
    	<p>Acune demande de contact en attente d'etre traité</p>
	{% endif %}

{% else %}
	<form method="post" action="/login">{% csrf_token %}
		<input type="text" name="username" id="username" placeholder="username">
		<input type="password" name="password" id="password" placeholder="mot de passe">
		<input type="submit" name="" value="Envoyé">
	</form>
{% endif %}
</div>
{% endblock body %}