{% load static %}
<!doctype html>
<html lang="fr">
	<head>
	  <meta charset="utf-8">
	  <title>Blog</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	      <link href="../../static/content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	    <!-- Custom styles for this template -->
	    <link href="../../static/content/css/blog-home.css" rel="stylesheet">
	</head>
	<body>
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
	      <div class="container">
	        <a class="navbar-brand" href="/">Start Bootstrap</a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	          <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarResponsive">
	          <ul class="navbar-nav ml-auto">
	            <li {% if page == 'home' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
	              <a class="nav-link" href="/">Blog
	                <span class="sr-only">(current)</span>
	              </a>
	            </li>
	            <li {% if page == 'contact' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
	              <a class="nav-link" href="/contact"">Contact</a>
	            </li>
	            <li {% if page == 'admin' %} class="active nav-item" {% else %} class="nav-item" {% endif %}>
	              <a class="nav-link" href="/adminFront">admin</a>
	            </li>
	          </ul>
	        </div>
	      </div>
	    </nav>
		 {% block body %}

		 {% endblock body %}
	    <footer class="py-5 bg-dark">
			<div class="container">
				<div class="sharethis-inline-follow-buttons"></div>
			</div>
	    </footer>
	</body>
  	<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5af841a0c3d29a001129f0ed&product=sticky-share-buttons' async='async'></script>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  	<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity=" a384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	    <!-- Bootstrap core JavaScript -->
	        <!-- Bootstrap core JavaScript -->
    <script src="../../static/content/vendor/jquery/jquery.min.js"></script>
    <script src="../../static/content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="../../static/content/js/main.js"></script>
</html>