{% extends 'content/layaout.html' %}
{% load static %}
{% block body %}
<div class="container">
    <div class="row">
    	<div class="col-md-8">
		  	<h1 class="my-4">Page Heading
	            <small>Secondary Text</small>
	      	</h1>
			<div class="listPosts">
				{% for post in posts %}
				    <div class="card mb-4">
				        <img class="card-img-top" src="{% if post.picturs %} http://127.0.0.1:8000/media/{{ post.picturs }} {% else %}http://placehold.it/750x300 {% endif %}" alt="Card image cap">
				        <div class="card-body">
				        	  <h2 class="card-title">{{ post.title }}</h2>
				        	  <p class="card-text">{{ post.text|linebreaksbr }}</p>
				        	  <a href="#" class="btn btn-primary">Read More &rarr;</a>
				        </div>
		                <div class="card-footer text-muted">
			              Publié: {{ post.created_date|date }} <span class="like" data-id="{{ post.id }}"><img src="{% static  "static/content/img/like.png" %}" style="width: 5%"> </span><span class="nbrLike{{ post.id }}">{{ post.like }}</span>
			            </div>
				    </div>
				{% endfor %}
			</div>
			
		</div>
		<div class="col-md-4">
	          <div class="card my-4">
	            <h5 class="card-header">Catégories</h5>
	            <div class="card-body">
	              <div class="input-group">
	      			<select class="selectType form-control">
						<option value="null">Tout les posts</option>
						{% for type in types %}
							<option value="{{ type.id}}">{{ type.typePost }}</option>
						{% endfor %}
					</select>
	              </div>
	            </div>
	          </div>
	          <!-- Side Widget -->
	          <div class="card my-4">
	            <h5 class="card-header">Qui suis-je?</h5>
	            <div class="card-body">
	              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
	            </div>
	          </div>
	      </div>
	</div>
</div>
{% endblock body %}